.filter {

    // .filter__row

    &__row {}

    // .filter__body

    &__body {
        display: flex;
        align-items: center;
        padding: 22px 0;
        margin: 0 30px;
    }

    // .filter__date

    &__date {
        display: flex;
        align-items: center;
        margin: 0px 185px 0px 0px;

        input {
            width: 272px;
            height: 30px;
            border: 1px solid #B7C6CB;
            border-radius: 4px;
        }
    }

    // .filter__label

    &__label {
        margin: 0px 16px 0px 0px;
    }

    // .filter__choice

    &__choice {
        margin: 0px 2px 0px 0px;
    }

    // .filter__item

    &__item {
        display: flex;
        align-items: center;
    }

    // .filter__calendar

    &__calendar {
        width: 33px;
        height: 30px;
        border: 1px solid #B7C6CB;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // .filter__find

    &__find {
        display: flex;
        align-items: center;
    }

    // .filter__checkbox

    &__checkbox {
        display: flex;
        align-items: center;
    }

    // .filter__input

    &__input {}

    // .filter__button

    &__button {
        background: #33B1CA;
        border-radius: 4px;
        padding: 3px 12px;

        button {
            color: #ffffff;
            font-size: 18px;
            font-weight: 700;
        }
    }
}

.checkbox-filter {

    // .checkbox-filter__name

    &__name {}

    // .checkbox-filter__toogle

    &__toogle {
        background: #CBE5F0;
        border-radius: 4px;
        padding: 6px 8px;
        display: flex;
        align-items: center;
        margin: 0px 8px 0px 0px;

        span {
            font-size: 16px;
            margin: 0px 8px 0px 0px;
        }
    }

    // .checkbox-filter__input

    &__input {
        margin: 0px 3px 0px 0px;
        display: flex;
        align-items: center;

        img {
            transform: translate(200%, 0);
        }

        input {
            border: 1px solid #B7C6CB;
            box-sizing: border-box;
            border-radius: 4px;
            width: 397px;
            height: 30px;
            padding: 0px 0px 0px 30px;
            font-size: 16px;
        }
    }
}


.button {}

.item-filter__choice {
    margin: 0 7px;
    display: flex;
    align-items: center;
}
