.records {

    // .records__body

    &__body {
        background: #F3F7F9;
        border: 1px solid #B7C6CB;
        border-radius: 4px;
        padding: 15px 20px;
    }

    // .records__row

    &__row {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 0px 14px 14px 14px;
        margin: 0px 0px 15px 0px;

        border-bottom: 1px solid #CCD6DA;
    }

    // .records__column

    &__column {
        justify-content: start;
        font-size: 18px;

        &:first-child {
            font-weight: 700;
            width: 48px;
            margin: 0px 60px 0px 0px;
        }

        &:last-child {
            margin: 0px 0px 0px 0px;
            width: 21px;
            display: flex;
            flex: 1 1 10%;
            justify-content: end;
        }

    }
}

.status-column {
    background: rgba(148, 227, 188, 0.4);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    width: 170px;
}

.name-column {
    width: 350px;
    text-align: left;
    margin: 0px 100px 0px 0px;
}

.sex-column {
    margin: 0px 240px 0px 0px;
}

.sex {
    transform: translate(-30%, 0);
}

.name {
    transform: translate(-150%, 0);
}
