.records {

    // .records__body

    &__body {
        background: #FFFFFF;
        border: 1px solid #B7C6CB;
        border-radius: 4px;
        padding: 15px 20px;
    }

    // .records__row

    &__row {
        border-bottom: 1px solid #CCD6DA;
        margin: 0px 0px 15px 0px;
        >:not(:last-child) {
            margin: 0px 0px 16px 0px;
        }
    }

    &__person {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 0px 14px 14px 14px;
        // margin: 0px 0px 15px 0px;

        // border-bottom: 1px solid #CCD6DA;
    }

    // .records__column

    &__column {
        font-size: 18px;
    }

    &__column-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1 1 auto;
    }
}

.time-column {
    font-weight: 700;
    width: 48px;
    margin: 0px 68px 0px 0px;
}

.name-column {
    width: 400px;
    margin: 0px 63px 0px 0px;
}

.sex-column {
    width: 48px;
    margin: 0px 184px 0px 0px;
}

.status-column {
    background: rgba(148, 227, 188, 0.4);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
}

.info-column {
    width: 21px;
    justify-content: flex-end;
}

.info-visible {
    // transform: translateY(70%);
    opacity: 0;
    transition: 0.7s all;
}

.info-visible.active {
    // transform: translateY(0%);
    opacity: 1;
    transition: 0.7s opacity;
}
